
<h1 style="text-align: center"> <strong>About us</strong> </h1>

<hr style="width: 95%; margin: auto; border: 2px solid grey" >
<br>
<br>
<div class="container   d-flex justify-content-center  ">
    <div class="card "  style="width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <%=image_tag("/assets/prof.png", alt:"", class:"img-fluid rounded-start", height: 150, width: 150) %> 
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">Name: Antonio</p>
                    <p class="card-text" >Email: ciprani@outlook.it </p>
                    <p class="card-text" >Favourite Anime: One Piece </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card ms-auto" style="width: 540px;">
        <div class="row g-0 ">
            <div class="col-md-4">
                <%=image_tag("/assets/prof.png", alt:"", class:"img-fluid rounded-start", height: 150, width: 150) %> 
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">Name: Edoardo</p>
                    <p class="card-text" >Email: briasco@gmail.com </p>
                    <p class="card-text" >Favourite Anime: My Hero Academia </p>
                </div>
            </div>
        </div>
    </div>
    

</div>
<br>
<br>
<br>
<div class="container   d-flex justify-content-center  ">

    <div class="card">
        <div class="card-body">
            "Tsunanime" è un sito pensato per gli amanti degli "anime",cartoni animati giapponesi  che sono oramai diventati a tutti gli effetti, oltre che semplicemente un prodotto di intrattenimento commerciale, un vero e proprio fenomeno culturale di massa e una forma d'arte vera e propria sotto determinati aspetti. Un qualunque utente che voglia iscriversi al sito potrà non solo restare aggiornato sulle ultime uscite delle serie anime più attese, ma anche lasciare recensioni, contribuendo in questo modo alla creazione di una "Top5" basata interamente sui gusti degli utenti, e selezionare i propri anime preferiti, potendo così personalizzare il proprio profilo.
        </div>
    </div>

</div>

